* {
  font-family: museo-sans, sans-serif;
}

body {
  /*background: #cccccc url("../img/bg1.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*background-size: cover;*/
  background-color: grey;
}

#search-question {
  max-width: 20em;
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#search-question:active {
  border-bottom-color: #92B83E;
}

.nav {
  border-top: solid 10px #3E9ABE;
}

nav ul .tab:hover {
  background-color: white;
}

nav ul .tab:hover a {
  color: black !important;
  background-color: transparent;
}

.pagination li.active {
  background-color: rgb(229, 29, 68);
}

.brand-logo {
  height: 100%;
}

.brand-logo p{
  top: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#logo-img {
  padding: 10px 0;
  height: 100%;
}

.hb-ico {
  background-image: url(../img/Logo-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.black {
  background-color: #353939 !important;
}

.hb-blue-text {
  color: #3E9ABE !important;
}

.hb-yellow-text {
  color: #DC9F29 !important;
}

.hb-green-text {
  color: #92B83E !important;
}

.hb-red-text {
  color: #EE2B4F !important;
}

.hb-blue {
  background-color: #3E9ABE !important;
}

.hb-red {
  background-color: #EE2B4F !important;
}

.content {
  background-color: white;
}

.small-card-content {
  padding: 14px !important;
}

.login {
  margin-top: 100px;
  margin-bottom: 100px;
}

.login .card {
  background: rgba(0, 0, 0, .6);
}

.login label {
  font-size: 16px;
  color: #ccc;
}

.login input {
  font-size: 22px !important;
  color: #fff;

}

.login button:hover {
  padding: 0px 40px;
}

.question-card:hover {
  cursor: pointer;
}

.question-card .card-content, .question-card .card-action {
  padding: 15px;
}

.question-card .card-content p {
  font-size: 16px;
}

.question-card a:hover {
  color: #665A43 !important;
}

.question-header {
  padding-bottom: 1rem;
  border-bottom: 1.3px solid #9e9e9e;
}

.large-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

.responsive-img {
  display: block;
}

.dislike-button-box {
  /* border-right: 2px solid black; */
  color: red;
}

.dislike-button-box i:hover {
  cursor: pointer;
}

.like-button-box {
  /* border-left: 2px solid black; */
  color: green;
}

.like-button-box i:hover {
  cursor: pointer;
}

@media all and (max-width: 1201px) {
  .content {
    margin: 0 !important;
    width: 100%;
  }
  footer {
    width: 100% !important;
  }
}

@media all and (min-width: 1201px) {
  .question-content {
    padding: 0 7rem !important;
  }
}

.content {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
}

.main{
  flex: 1 0 auto;
}

.rate-buttons {
  margin: 0 auto;
  display: table;
}

.dislike-button {
  border: 2px solid red;
  border-radius: 0.1875rem;
  text-align: center;
  width: 60px;
  height: 60px;
}

.dislike-button i {
  padding: 5px;
}

.like-button {
  border: 2px solid green;
  border-radius: 0.1875rem;
  text-align: center;
  width: 60px;
  height: 60px;
}

.like-button i {
  padding: 5px;
}

.question-meta {
  text-align: center;
}

.name-field {
  margin: 0 45px;
}

@media only screen and (max-width: 993px) {
  footer {
    width: 100% !important;
  }
}

.like-number, .dislike-number {
  display: block;
  margin-block-start: 0.5em;
}

.like-badge {
  font-size: 1.2rem !important; 
  text-align: left !important;
  margin: 0 !important;
  /* color: white !important; */
}

.like-badge::after {
  width: 45px;
  float: right;
  padding-left: 5px;
}